# Milestone Project for TDI Onboarding

In [1]:
!wget -O cost.csv https://data.cityofnewyork.us/resource/bug8-9f3g.csv

--2022-05-23 18:13:00--  https://data.cityofnewyork.us/resource/bug8-9f3g.csv
Resolving data.cityofnewyork.us (data.cityofnewyork.us)... 52.206.140.199, 52.206.68.26, 52.206.140.205
Connecting to data.cityofnewyork.us (data.cityofnewyork.us)|52.206.140.199|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘cost.csv’

cost.csv                [ <=>                ] 145.91K  --.-KB/s    in 0.09s

2022-05-23 18:13:01 (1.63 MB/s) - ‘cost.csv’ saved [149411]

In [104]:
pd.set_option('display.max_columns', 100)

In [7]:
import pandas as pd

In [8]:
data = pd.read_csv('cost.csv')

In [105]:
data.head()

,company_name,company_contact,company_email,company_phone,address,city,state,zip,industry,industry_descr,company_type,current_fulltime,job_created,job_retain,effective_date,total_savings,savings_from_beginning,borough,latitude,longitude,community_board,council_district,census_tract,bin,bbl,nta
0,1 State Street,David Neiburg,eskoblo@energyspec.com,7186779077,1114 Avenue J,Brooklyn,NY,11230,Commercial,35 story building,LMEP,NaN,NaN,NaN,2005-03-04T00:00:00.000,0.00,349.78,Brooklyn,40.624784,-73.964920,314.0,44.0,534.0,3179818.0,3.067130e+09,Midwood
1,100 Church LLC,Edward A. Carroll,NaN,2125663000,100 Church Street,NY,NY,10007,Commercial,21 Floors,LMEP,NaN,NaN,NaN,2008-04-02T00:00:00.000,136578.20,4423698.05,New York,40.712968,-74.009490,101.0,1.0,21.0,1001409.0,1.001250e+09,SoHo-TriBeCa-Civic Center-Little Italy
2,100 Wall Investments,Jerry Branam,NaN,2122487160,96 Wall Street,New York,NY,10005,Landlord,NaN,LMEP,1238.0,NaN,NaN,2015-01-05T00:00:00.000,302959.40,1814542.62,New York,40.705052,-74.007199,101.0,1.0,7.0,1000875.0,1.000380e+09,Battery Park City-Lower Manhattan
3,1-10 Bush Terminal Owner LP,Andrew Kimball,akimball@industrycity.com,3474178429,"220 36th St, Suite 2A",Brooklyn,NY,11232,Landlord,Special Eligible Premises for eligible businesses,ECSP,25.0,NaN,NaN,2020-02-03T00:00:00.000,2159.67,6755.31,Brooklyn,40.656061,-74.007334,307.0,38.0,2.0,3398687.0,3.006950e+09,Sunset Park West
4,"120 Broadway Acquisitions JV, LLC (Ldmk)",Carl Letich,clettich@silvprop.com,2124064020,120 Broadway,New York,NY,10271,Commercial,NaN,LMEP,2699.0,NaN,NaN,2017-06-30T00:00:00.000,922407.32,3293055.08,New York,40.708546,-74.011041,101.0,1.0,7.0,1001026.0,1.000478e+09,Battery Park City-Lower Manhattan

## Question 1: How many differen companies are presented in the data set?

In [10]:
num_company = data.company_name.value_counts().count()

In [11]:
from IPython.display import Markdown as md
md(f"There are {num_company} different companies presented in the data set")

There are 439 different companies presented in the data set

## Question 2: What is the total number of jobs created of businesses in Queens?

In [23]:
job_queens = data.groupby('borough').job_created.sum().Queens

In [24]:
md(f"The total number of jobs created by businesses in Queens is {job_queens}")

THe total number of jobs created by businesses in Queens is 102.0

## Question 3: How many different unique email domains names are there in the data set?

In [59]:
splited = data.company_email.str.split(pat = '@', expand = True)

In [64]:
splited = splited.rename(columns = {0: 'name', 1 : 'domain'})

In [66]:
unique_email_domain = splited.domain.value_counts().count()

In [68]:
md(f'THere are {unique_email_domain} different unique email domains in the data set')

THere are 356 different unique email domains in hte data set

## Question 4: Considering only NTAs with at least 5 listed businesses, what is the average total savings and the total jobs created for each NTA?

In [99]:
# Sort the count of NTA
NTA = data.groupby('nta', as_index = False).company_name.count().sort_values(by = 'company_name', ascending = False)

In [109]:
# Get the nta with count equal or greater than 5
NTA_gt_5 = NTA[NTA.company_name >= 5]

In [124]:
mean_saving = data[data.nta.isin(NTA_gt_5.nta)].groupby('nta').total_savings.mean()

In [125]:
total_job = data[data.nta.isin(NTA_gt_5.nta)].groupby('nta').job_created.sum()

In [137]:
nta_final = pd.DataFrame({'mean_saving' : mean_saving, 'total_job' : total_job}, index = mean_saving.index).reset_index()

## Question 5: Save your result for the previous question as a CSV file.

In [144]:
nta_final.to_csv('nta_final.csv', index = False)

In [145]:
!ls

cost.csv	 README.md	   sample_notebook.ipynb
cost_save.ipynb  requirements.txt  test2.txt
nta_final.csv	 runtime.txt	   test.txt